
@font-face {
    font-family: "Magnier";
    src: url(fonts/MaginerfreeRegular-ALodL.woff);
    src: url(fonts/MaginerfreeRegular-ALodL.woff2);
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
}

.title {
    height: 10vh;
    align-items: center;
    font-family: "Magnier";
    font-size: larger;
    font-weight: bolder;
    font-style: italic;
    color: #133b59;
    letter-spacing: 0.2rem;
    border-radius: 10px 10px 0 0;
}

.main {
    height: 60vh;
    border: 1px solid #4c6f8a;
    background-color: ;

}

.control-section .grid-btn-container, .round-btn-conatiner {
    height: 20vh;
}

section, div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4c6f8a;
}

section {
    width: 100%;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

#sketchpad {
    height: 90%;
    margin: 5%;
    border: 2px solid #4c6f8a;
    border-radius: 5px;
    background-color: whitesmoke;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    margin-left: 15%;
    margin-right: 15%;

}

.row {
    border: none;
    flex-direction: row;
    flex-grow: 1;
    width: 100%;
    flex-wrap: wrap;
}

.pixel {
    border: none;
    flex-grow: 1;
    height: 100%;
    

}

.vert {
    flex-direction: column;
    justify-content: space-evenly;
    border-right: 1px solid;
}

.control-section {
    justify-content: space-around;
    border: 1px solid #4c6f8a;
    background-color: ;
    margin-bottom: 1vh;
    height: 28vh;
}

.top, .bottom, .left, .right, .grid-btn-container, .round-btn-conatiner{
    flex-grow: 1;
    max-width: 250px;
    border: none;
}    

.left{
    padding-right: 10px;
}

.right{
    padding-left: 10px;
}

.round-btn-conatiner {
    padding: 10px;
}

input {
    height: 5vh;
    text-align: center;
    font-size: large;
    max-width: 10vw;
}

/* btn styling */

.btn {
    border: none;
    background-color: ;
    transition: 0.3s all ease;
    height: 5em;
    width: 5em;
    box-shadow: 0 10px 0px 0px rgb(104, 134, 165);
    border-radius: 5px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
}

.engraved {
    background-color: #4c6f8a;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(245,245,245,0.5) 3px 5px 1px;
}

/* button animation */

.btn:hover{
    background-color: ;
    transform: translateY(-1px);
    box-shadow: 0px 12px 0px 0px  rgb(104, 134, 165);
  }

.btn:active {
    transform: translateY(7px);
    box-shadow: 0px 0px 0px 0px #052c2c;
  }

.round {
    border-radius: 6em;
    
}

@media only screen and (max-width: 600px) {
    .control-section {
        justify-content: center;
    }

    input {
        height: 5vh;
        text-align: center;
        font-size: large;
        max-width: 15vw;
    }
}    



